.kanban {
	display: flex;
	padding: 30px;
	width: 750px;

	border-radius: 5px;
}

.kanban * {
	font-family: sans-serif;
}
.board{
	padding: 0px 30px 0px 30px;

}
.title_name{
	font-size: 2em;
	padding: 20px 0px 50px 0px;
}
.title_line{
	width: 100%;
	height: 1px;
	background: lightgrey;
}
.kanban{
	margin-left: auto;
	margin-right: auto;
}
.kanban__column {
	flex: 1;

}

.kanban__column:not(:last-child) {
	margin-right: 30px;
}

.kanban__column-title {
	margin-bottom: 20px;
	font-size: 15px;
	color: black;
	user-select: none;
	width: 20%;
	text-align: center;
	border-radius: 5px;
}
.todo{
	background: #D0FFDD;
	color: #30A950;


}
.processIn{
	background: #FFF8B0;
	color: #A49729;
	width: 30%;
}
.success{
	background: #FFBDBD;
	color: #A42929;

}
.kanban__item-input {
	padding: 10px 15px;
	box-sizing: border-box;
	background: white;
	border-radius: 5px;
	cursor: pointer;
	border: 1px solid lightgrey;
}

.kanban__dropzone {
	height: 10px;
	transition: background 0.15s, height 0.15s;
}

.kanban__dropzone--active {
	height: 20px;
	background: rgba(0, 0, 0, 0.25);
}

.kanban__add-item {
	width: 100%;

	padding: 15px 0;
	font-size: 16px;

	/*color: black;*/
	background: white;
	color: grey;
	border: none;

	cursor: pointer;
	text-align: left;


}

.plus_icon{
	filter: opacity(0.5) drop-shadow(0 0 0 grey);
	width: 20px;
	vertical-align: middle;
}

/*.trash_img{*/
/*	padding-left: 30px;*/
/*}*/
